.movie {
    color: rgb(0, 0, 0);
    /* margin-left: auto;
    margin-right: auto;
    resize: none; */
}

.movie-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-content>div {
    margin: 20px;
}

.btn-block {
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #e4e0e0;
}

#content {
    background-image: url("../static/image.jpg");
    background-size: cover;
    background-color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
}

#details {
    margin-left: 50px;
}

.footer {
    color: #e4e0e0;
    text-align: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
}

h1 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    /* font-weight: bold; */
    margin-top: 30px;
    /* text-shadow: #000000 0px 0px 13px; */
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}


/* #autoComplete {
    background-position: 98%;
} */

#name {
    color: white;
    padding: 1px;
}

h6 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
    #mcontent {
        display: block;
    }
    .poster-lg {
        display: none;
    }
    #details {
        margin-left: 30px;
    }
    #loader {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../static/loader8.gif");
        background-size: 40%;
        background-position: 50% 50%;
        background-color: rgb(0, 0, 0);
        background-repeat: no-repeat;
        -webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
        content: "Please wait...";
    }
    #loader-text {
        vertical-align: middle;
        color: white;
    }
    /* #autoComplete {
        background-position: 97%;
    } */
    svg[data-toggle=tooltip] {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 991px) {
    .modal-body {
        display: block;
    }
    .profile-pic {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .modal-body {
        display: flex;
    }
}

@media only screen and (min-width: 651px) {
    .poster-sm {
        display: none;
    }
    #mcontent {
        display: flex;
        flex-wrap: nowrap;
    }
    #loader {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../static/loader8.gif");
        background-size: 20%;
        background-position: 50% 50%;
        background-color: rgb(0, 0, 0);
        background-repeat: no-repeat;
        -webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
        content: "Please wait...";
    }
    #loader-text {
        vertical-align: middle;
        color: white;
    }
}

.poster {
    -webkit-box-shadow: 0px 1px 15px 4px rgba(250, 250, 250, 1);
    -moz-box-shadow: 0px 1px 15px 4px rgba(250, 250, 250, 1);
    box-shadow: 0px 1px 15px 4px rgba(250, 250, 250, 1);
}

.card:hover {
    cursor: pointer;
}

.castcard:hover {
    cursor: pointer;
}

.cast-img {
    filter: brightness(100%);
    -moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.cast-img:hover {
    filter: brightness(50%);
    -moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(50%);
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    opacity: 0;
    -moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig:hover {
    opacity: 1;
    backdrop-filter: br;
    -moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.card-btn {
    border-radius: 20px;
}

.imghvr {
    position: relative;
}

.table td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.fail {
    display: none;
    color: rgb(0, 0, 0);
}


/* #autoComplete_wrapper {
    position: relative;
    display: inline-block
}

#autoComplete {
    position: relative;
    padding: 0 2rem 0 3.5rem;
    height: 2.3rem;
    width: 36rem;
    font-size: 1.2rem;
    outline: 0;
    border-radius: 50rem;
    color: rgba(255, 122, 122, 1);
    border: .05rem solid #ff7a7a;
    caret-color: #ff7a7a;
    color: rgba(255, 255, 255, 0);
    background-image: url(./images/magnifier.svg);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-origin: border-box;
    background-position: center;
    transition: all .4s ease;
    -webkit-transition: all -webkit-transform .4s ease;
    text-overflow: ellipsis
}

#autoComplete::placeholder {
    color: rgba(255, 122, 122, 0);
    transition: all .3s ease
}

#autoComplete:hover::placeholder {
    color: rgba(255, 122, 122, .3);
    transition: all .3s ease;
    -webkit-transition: all -webkit-transform .3s ease
}

#autoComplete:focus::placeholder {
    padding: .1rem .6rem;
    font-size: 1rem;
    color: rgba(255, 122, 122, .3);
    transition: all .3s ease;
    -webkit-transition: all -webkit-transform .3s ease
}

#autoComplete::selection {
    color: transparent
}

#autoComplete:focus::selection {
    color: #fff;
    background-color: rgba(255, 122, 122, 1)
}

#autoComplete:hover {
    padding: 0 2rem 0 3.5rem;
    color: rgba(255, 122, 122, 1);
    height: 2.3rem;
    width: 36.5rem;
    background-image: url(./images/magnifier.svg);
    background-size: 1.7rem;
    background-position: left 1.05rem top .7rem;
    transition: all .3s ease;
    -webkit-transition: all -webkit-transform .3s ease
}

#autoComplete:focus {
    padding: 0 2rem 0 3.5rem;
    color: rgba(255, 122, 122, 1);
    height: 2.3rem;
    width: 36.5rem;
    border: .05rem solid #ff7a7a;
    background-image: url(./images/magnifier.svg);
    background-size: 1.5rem;
    background-position: left 1.05rem top .8rem;
    box-shadow: rgba(255, 122, 122, .1) 0 0 20px 5px
}

#autoComplete_list {
    position: fixed;
    z-index: 1000;
    padding: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 28rem;
    transition: all .1s ease-in-out;
    -webkit-transition: all -webkit-transform .1s ease
}

.autoComplete_result {
    margin: .15rem auto;
    padding: .6rem;
    max-width: 280px;
    border: .05rem solid #e3e3e3;
    list-style: none;
    text-align: left;
    font-size: 1.1rem;
    color: #7b7b7b;
    transition: all .1s ease-in-out;
    background-color: #fff
}

.autoComplete_result::selection {
    color: rgba(#fff, 0);
    background-color: rgba(#fff, 0)
}

.autoComplete_result:last-child {
    border-radius: 0 0 1rem 1rem
}

.autoComplete_result:hover {
    cursor: pointer;
    background-color: rgba(255, 248, 248, .9);
    border-left: 2px solid rgba(255, 122, 122, 1);
    border-right: 2px solid rgba(255, 122, 122, 1);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent
}

.autoComplete_result:focus {
    outline: 0;
    background-color: rgba(255, 248, 248, .9);
    border-left: 2px solid rgba(255, 122, 122, 1);
    border-right: 2px solid rgba(255, 122, 122, 1);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent
}

.autoComplete_highlighted {
    opacity: 1;
    color: rgba(255, 122, 122, 1);
    font-weight: 700
}

.autoComplete_highlighted::selection {
    color: rgba(#fff, 0);
    background-color: rgba(#fff, 0)
}

.autoComplete_selected {
    cursor: pointer;
    background-color: rgba(255, 248, 248, .9);
    border-left: 2px solid rgba(255, 122, 122, 1);
    border-right: 2px solid rgba(255, 122, 122, 1);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent
}

@media only screen and (max-width:600px) {
    #autoComplete {
        width: 5rem
    }
    #autoComplete:focus {
        width: 11rem;
        background-size: 1.6rem;
        background-position: left 1.1rem top .75rem
    }
    .autoComplete_result:first-child {
        border-radius: 1rem 1rem 0 0
    }
    .autoComplete_result:last-child {
        border-radius: 0 0 1rem 1rem
    }
    .autoComplete_result:only-child {
        border-radius: 1rem
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #autoComplete {
        border-width: 1px
    }
    #autoComplete:hover {
        border-width: 1px
    }
    #autoComplete:focus {
        border-width: 1px
    }
}

@-moz-document url-prefix() {
    #autoComplete {
        border-width: 1px;
        background-size: 1.2rem;
        background-origin: border-box;
        background-position: center
    }
    #autoComplete:hover {
        border-width: 1px
    }
    #autoComplete:focus {
        border-width: 1px;
        background-position: left 1.1rem top .8rem
    }
} */